services:
  server:
    build:
      dockerfile: Dockerfile
      target: production-server
    restart: unless-stopped
    # ports:
    #   - "${PORT:-3000}:${PORT:-3000}"
    healthcheck:
      test: bun run /app/healthcheck.ts
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s
    env_file:
     - .env
    environment:
      NODE_ENV: production
      PORT: ${PORT:-3000}
      DATABASE_URL: ${DATABASE_URL?Variable not set}
      MEILI_HOST: ${MEILI_HOST?Variable not set}
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY?Variable not set}
      NEO4J_URI: ${NEO4J_URI?Variable not set}
      NEO4J_USERNAME: ${NEO4J_USERNAME?Variable not set}
      NEO4J_PASSWORD: ${NEO4J_PASSWORD?Variable not set}
    networks:
      - openmario

  client:
    build:
      dockerfile: Dockerfile
      target: production-client
      args:
        - VITE_APP_TITLE=${VITE_APP_TITLE}
        - VITE_LR_APP_ID=${VITE_LR_APP_ID}
        - VITE_MEILI_HOST=${VITE_MEILI_HOST}
        - VITE_DISCORD_WEBHOOK=${VITE_DISCORD_WEBHOOK}
    restart: unless-stopped
    env_file:
     - .env
    environment:
      PORT: 3000
      BACKEND_URL: http://server:3000
    ports:
      - "3000:3000"
    depends_on:
      server:
        condition: service_healthy
    networks:
      - openmario

networks:
  openmario:

